body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: rgb(169, 241, 241);
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  width: 75%;
  height: auto;
  background-color: #f4f4f4;
  box-shadow: 5px 5px 25px -5px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  margin: auto;
}

h1 {
  color: #333;
  font-size: 2rem;
  margin-bottom: 20px;
}

.add-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.add-container input {
  padding: 15px;
  width: 15rem;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.add-container button {
  padding: 15px 25px;
  background-color: #7e57c2;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
}

.add-container button:hover {
  background-color: #0056b3;
}

.todo-list {
  width: 100%;
  max-width: 600px;
}

.todo-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-bottom: 10px;
  background-color: #f9f9f9;
}

.todo-item button {
  padding: 10px 10px;
  background-color: #dc3545;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.todo-item button:hover {
  background-color: #c82333;
}

@media (max-width: 600px) {
  h1 {
    font-size: 1.5rem;
  }

  .add-container input {
    width: 90%;
  }

  .add-container button {
    width: 90%;
  }

  .todo-item {
    flex-direction: column;
    align-items: flex-start;
  }

  .todo-item button {
    align-self: flex-end;
  }
}
